
html {
    scroll-behavior: smooth;
  }

/* Header bg color  */
header{
    background-color: transparent;
}

/* Margin for project cards content  */

.card-body{
    margin-bottom:50px;
    font-size:large;
    margin-right: 10px;
    margin-left: 10px;
}

.row{
    margin-right: 10px;
    margin-left: 10px;
}

/* Addition margin below projects  */
.portfolioContainer{
    margin-bottom: 300px;
}

body{
    margin-bottom: 200px;
    align-content: center;
    margin-right: 10px;
    margin-left: 20px;
}
/* addition spacing between footer and page  */
footer{
    margin-top: 200px;
}

/* Footer container style  */
.footerContainer{
    min-height: 50px;
    background-color: black;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center;
    color: black;
    margin-top: -500px;
    position: fixed;
    left: 0;
    bottom: -5px;
    width: 100%;
}

/* Footer content style  */
.footer-body{
    padding: 1px;
    margin-top: 5px;
}

/* ContactLink color  */
.contactLink{
    color: #F14046;
}

/* Carousel styling start */
.carousel-inner img {
   
    width: 100%;
    height: 100%;
  }

  .carousel{
    margin-left: 5%;
    margin-right: 5%;
  }
/* Carousel styling end  */




.projects{
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
}

/* background: url('Assets\\clear_sky_gif.gif')no-repeat center center fixed; */