header{
    background-color: black;
}
.card{
    margin:10px
}

.footerContainer{
    min-height: 120px;
    margin-top: 100px;
    background-color: black;
    padding: 50px;
    padding-left: 50px;
    text-align: center;
    color: white;
}
.card-title{
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
    