/* Header bg color  */
header{
    background-color: black;
}

/* Margin for project cards content  */
.card{
    margin:10px;
}

/* Addition margin below projects  */
.portfolioContainer{
    margin-bottom: 300px;
}

/* Spacing between footer and page contents  */
footer{
    margin-top: 150px;
}

/* Footer container style  */
.footerContainer{
    min-height: 50px;
    background-color: black;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center;
    color: white;
    margin-top: -100px;
    position: fixed;
    left: 0;
    bottom: -5px;
    width: 100%;
}

/* Footer content style  */
.footer-body{
    padding: 1px;
    margin-top: 5px;
}

/* ContactLink color  */
.contactLink{
    color: #F14046;
}