/* Header bg color  */
header{
    background-color: black;
}

/* Skills text content style  */
.intro-b  {
    font-size: 16px;
    border: 1px solid rgba(49,49,49,0.1);
    text-align: center;
    }

/* Skills card content style  */
.skillsSection{
       border-radius: 2px;
       border-width: 5px;
        padding-top: 50px;
        margin-bottom: 50px;
}

/* Skills list content style  */
.skillSetSection{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #212121;
}

body{
    margin-bottom: 200px;
}
/* addition spacing between footer and page  */
footer{
    margin-top: 200px;
}

/* Footer container style  */
.footerContainer{
    min-height: 50px;
    background-color: black;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center;
    color: white;
    margin-top: -500px;
    position: fixed;
    left: 0;
    bottom: -5px;
    width: 100%;
}

/* Footer content style  */
.footer-body{
    padding: 1px;
    margin-top: 5px;
}

/* ContactLink color  */
.contactLink{
    color: #F14046;
}